@font-face{
	font-family: 'anonymous';
	src: url('/fonts/monospace/anonymous/anonymous.ttf');
}

.font-anonymous{
	font-family: 'anonymous';
}

@font-face{
	font-family: 'anonymous-pro';
	src: url('/fonts/monospace/anonymous-pro/anonymous-pro.ttf');
}

.font-anonymous-pro{
	font-family: 'anonymous-pro';
}

@font-face{
	font-family: 'anonymous-pro-bold-italic';
	src: url('/fonts/monospace/anonymous-pro/anonymous-pro_bold-italic.ttf');
}

.font-anonymous-pro-bold-italic{
	font-family: 'anonymous-pro-bold-italic';
}

@font-face{
	font-family: 'anonymous-pro-bold';
	src: url('/fonts/monospace/anonymous-pro/anonymous-pro_bold.ttf');
}

.font-anonymous-pro-bold{
	font-family: 'anonymous-pro-bold';
}

@font-face{
	font-family: 'anonymous-pro-italic';
	src: url('/fonts/monospace/anonymous-pro/anonymous-pro_italic.ttf');
}

.font-anonymous-pro-italic{
	font-family: 'anonymous-pro-italic';
}

@font-face{
	font-family: 'bpmono';
	src: url('/fonts/monospace/bpmono/bpmono.ttf');
}

.font-bpmono{
	font-family: 'bpmono';
}

@font-face{
	font-family: 'bpmono-bold';
	src: url('/fonts/monospace/bpmono/bpmono_bold.ttf');
}

.font-bpmono-bold{
	font-family: 'bpmono-bold';
}

@font-face{
	font-family: 'bpmono-italic';
	src: url('/fonts/monospace/bpmono/bpmono_italic.ttf');
}

.font-bpmono-italic{
	font-family: 'bpmono-italic';
}

@font-face{
	font-family: 'cousine';
	src: url('/fonts/monospace/cousine/cousine.ttf');
}

.font-cousine{
	font-family: 'cousine';
}

@font-face{
	font-family: 'cousine-bold-italic';
	src: url('/fonts/monospace/cousine/cousine_bold-italic.ttf');
}

.font-cousine-bold-italic{
	font-family: 'cousine-bold-italic';
}

@font-face{
	font-family: 'cousine-bold';
	src: url('/fonts/monospace/cousine/cousine_bold.ttf');
}

.font-cousine-bold{
	font-family: 'cousine-bold';
}

@font-face{
	font-family: 'cousine-italic';
	src: url('/fonts/monospace/cousine/cousine_italic.ttf');
}

.font-cousine-italic{
	font-family: 'cousine-italic';
}

@font-face{
	font-family: 'droid-sans-mono';
	src: url('/fonts/monospace/droid-sans-mono/droid-sans-mono.ttf');
}

.font-droid-sans-mono{
	font-family: 'droid-sans-mono';
}

@font-face{
	font-family: 'fira-mono';
	src: url('/fonts/monospace/fira-mono/fira-mono.otf');
}

.font-fira-mono{
	font-family: 'fira-mono';
}

@font-face{
	font-family: 'fira-mono-bold';
	src: url('/fonts/monospace/fira-mono/fira-mono_bold.otf');
}

.font-fira-mono-bold{
	font-family: 'fira-mono-bold';
}

@font-face{
	font-family: 'hack';
	src: url('/fonts/monospace/hack/hack.ttf');
}

.font-hack{
	font-family: 'hack';
}

@font-face{
	font-family: 'hack-bold-italic';
	src: url('/fonts/monospace/hack/hack_bold-italic.ttf');
}

.font-hack-bold-italic{
	font-family: 'hack-bold-italic';
}

@font-face{
	font-family: 'hack-bold';
	src: url('/fonts/monospace/hack/hack_bold.ttf');
}

.font-hack-bold{
	font-family: 'hack-bold';
}

@font-face{
	font-family: 'hack-italic';
	src: url('/fonts/monospace/hack/hack_italic.ttf');
}

.font-hack-italic{
	font-family: 'hack-italic';
}

@font-face{
	font-family: 'inconsolata';
	src: url('/fonts/monospace/inconsolata/inconsolata.otf');
}

.font-inconsolata{
	font-family: 'inconsolata';
}

@font-face{
	font-family: 'lekton';
	src: url('/fonts/monospace/lekton/lekton.ttf');
}

.font-lekton{
	font-family: 'lekton';
}

@font-face{
	font-family: 'lekton-bold';
	src: url('/fonts/monospace/lekton/lekton_bold.ttf');
}

.font-lekton-bold{
	font-family: 'lekton-bold';
}

@font-face{
	font-family: 'lekton-italic';
	src: url('/fonts/monospace/lekton/lekton_italic.ttf');
}

.font-lekton-italic{
	font-family: 'lekton-italic';
}

@font-face{
	font-family: 'liberation-mono';
	src: url('/fonts/monospace/liberation-mono/liberation-mono.ttf');
}

.font-liberation-mono{
	font-family: 'liberation-mono';
}

@font-face{
	font-family: 'liberation-mono-bold-italic';
	src: url('/fonts/monospace/liberation-mono/liberation-mono_bold-italic.ttf');
}

.font-liberation-mono-bold-italic{
	font-family: 'liberation-mono-bold-italic';
}

@font-face{
	font-family: 'liberation-mono-bold';
	src: url('/fonts/monospace/liberation-mono/liberation-mono_bold.ttf');
}

.font-liberation-mono-bold{
	font-family: 'liberation-mono-bold';
}

@font-face{
	font-family: 'liberation-mono-italic';
	src: url('/fonts/monospace/liberation-mono/liberation-mono_italic.ttf');
}

.font-liberation-mono-italic{
	font-family: 'liberation-mono-italic';
}

@font-face{
	font-family: 'luxi-mono';
	src: url('/fonts/monospace/luxi-mono/luxi-mono.ttf');
}

.font-luxi-mono{
	font-family: 'luxi-mono';
}

@font-face{
	font-family: 'luxi-mono-bold-italic';
	src: url('/fonts/monospace/luxi-mono/luxi-mono_bold-italic.ttf');
}

.font-luxi-mono-bold-italic{
	font-family: 'luxi-mono-bold-italic';
}

@font-face{
	font-family: 'luxi-mono-bold';
	src: url('/fonts/monospace/luxi-mono/luxi-mono_bold.ttf');
}

.font-luxi-mono-bold{
	font-family: 'luxi-mono-bold';
}

@font-face{
	font-family: 'luxi-mono-italic';
	src: url('/fonts/monospace/luxi-mono/luxi-mono_italic.ttf');
}

.font-luxi-mono-italic{
	font-family: 'luxi-mono-italic';
}

@font-face{
	font-family: 'm-1m';
	src: url('/fonts/monospace/m-1m/m-1m.ttf');
}

.font-m-1m{
	font-family: 'm-1m';
}

@font-face{
	font-family: 'm-1m-bold';
	src: url('/fonts/monospace/m-1m/m-1m_bold.ttf');
}

.font-m-1m-bold{
	font-family: 'm-1m-bold';
}

@font-face{
	font-family: 'm-1m-light';
	src: url('/fonts/monospace/m-1m/m-1m_light.ttf');
}

.font-m-1m-light{
	font-family: 'm-1m-light';
}

@font-face{
	font-family: 'm-1m-medium';
	src: url('/fonts/monospace/m-1m/m-1m_medium.ttf');
}

.font-m-1m-medium{
	font-family: 'm-1m-medium';
}

@font-face{
	font-family: 'm-1m-thin';
	src: url('/fonts/monospace/m-1m/m-1m_thin.ttf');
}

.font-m-1m-thin{
	font-family: 'm-1m-thin';
}

@font-face{
	font-family: 'monospacetypewriter';
	src: url('/fonts/monospace/monospacetypewriter/monospacetypewriter.ttf');
}

.font-monospacetypewriter{
	font-family: 'monospacetypewriter';
}

@font-face{
	font-family: 'notcouriersans';
	src: url('/fonts/monospace/notcouriersans/notcouriersans.otf');
}

.font-notcouriersans{
	font-family: 'notcouriersans';
}

@font-face{
	font-family: 'notcouriersans-bold';
	src: url('/fonts/monospace/notcouriersans/notcouriersans_bold.otf');
}

.font-notcouriersans-bold{
	font-family: 'notcouriersans-bold';
}

@font-face{
	font-family: 'oxygen-mono';
	src: url('/fonts/monospace/oxygen-mono/oxygen-mono.otf');
}

.font-oxygen-mono{
	font-family: 'oxygen-mono';
}

@font-face{
	font-family: 'pt-mono';
	src: url('/fonts/monospace/pt-mono/pt-mono.ttf');
}

.font-pt-mono{
	font-family: 'pt-mono';
}

@font-face{
	font-family: 'saxmono';
	src: url('/fonts/monospace/saxmono/saxmono.ttf');
}

.font-saxmono{
	font-family: 'saxmono';
}

@font-face{
	font-family: 'source-code-pro';
	src: url('/fonts/monospace/source-code-pro/source-code-pro.otf');
}

.font-source-code-pro{
	font-family: 'source-code-pro';
}

@font-face{
	font-family: 'source-code-pro-black-italic';
	src: url('/fonts/monospace/source-code-pro/source-code-pro_black-italic.otf');
}

.font-source-code-pro-black-italic{
	font-family: 'source-code-pro-black-italic';
}

@font-face{
	font-family: 'source-code-pro-black';
	src: url('/fonts/monospace/source-code-pro/source-code-pro_black.otf');
}

.font-source-code-pro-black{
	font-family: 'source-code-pro-black';
}

@font-face{
	font-family: 'source-code-pro-bold-italic';
	src: url('/fonts/monospace/source-code-pro/source-code-pro_bold-italic.otf');
}

.font-source-code-pro-bold-italic{
	font-family: 'source-code-pro-bold-italic';
}

@font-face{
	font-family: 'source-code-pro-bold';
	src: url('/fonts/monospace/source-code-pro/source-code-pro_bold.otf');
}

.font-source-code-pro-bold{
	font-family: 'source-code-pro-bold';
}

@font-face{
	font-family: 'source-code-pro-extra-light-italic';
	src: url('/fonts/monospace/source-code-pro/source-code-pro_extra-light-italic.otf');
}

.font-source-code-pro-extra-light-italic{
	font-family: 'source-code-pro-extra-light-italic';
}

@font-face{
	font-family: 'source-code-pro-extra-light';
	src: url('/fonts/monospace/source-code-pro/source-code-pro_extra-light.otf');
}

.font-source-code-pro-extra-light{
	font-family: 'source-code-pro-extra-light';
}

@font-face{
	font-family: 'source-code-pro-italic';
	src: url('/fonts/monospace/source-code-pro/source-code-pro_italic.otf');
}

.font-source-code-pro-italic{
	font-family: 'source-code-pro-italic';
}

@font-face{
	font-family: 'source-code-pro-light-italic';
	src: url('/fonts/monospace/source-code-pro/source-code-pro_light-italic.otf');
}

.font-source-code-pro-light-italic{
	font-family: 'source-code-pro-light-italic';
}

@font-face{
	font-family: 'source-code-pro-light';
	src: url('/fonts/monospace/source-code-pro/source-code-pro_light.otf');
}

.font-source-code-pro-light{
	font-family: 'source-code-pro-light';
}

@font-face{
	font-family: 'source-code-pro-medium-italic';
	src: url('/fonts/monospace/source-code-pro/source-code-pro_medium-italic.otf');
}

.font-source-code-pro-medium-italic{
	font-family: 'source-code-pro-medium-italic';
}

@font-face{
	font-family: 'source-code-pro-medium';
	src: url('/fonts/monospace/source-code-pro/source-code-pro_medium.otf');
}

.font-source-code-pro-medium{
	font-family: 'source-code-pro-medium';
}

@font-face{
	font-family: 'source-code-pro-semi-bold-italic';
	src: url('/fonts/monospace/source-code-pro/source-code-pro_semi-bold-italic.otf');
}

.font-source-code-pro-semi-bold-italic{
	font-family: 'source-code-pro-semi-bold-italic';
}

@font-face{
	font-family: 'source-code-pro-semi-bold';
	src: url('/fonts/monospace/source-code-pro/source-code-pro_semi-bold.otf');
}

.font-source-code-pro-semi-bold{
	font-family: 'source-code-pro-semi-bold';
}

@font-face{
	font-family: 'tex-gyre-cursor';
	src: url('/fonts/monospace/tex-gyre-cursor/tex-gyre-cursor.otf');
}

.font-tex-gyre-cursor{
	font-family: 'tex-gyre-cursor';
}

@font-face{
	font-family: 'tex-gyre-cursor-bold-italic';
	src: url('/fonts/monospace/tex-gyre-cursor/tex-gyre-cursor_bold-italic.otf');
}

.font-tex-gyre-cursor-bold-italic{
	font-family: 'tex-gyre-cursor-bold-italic';
}

@font-face{
	font-family: 'tex-gyre-cursor-bold';
	src: url('/fonts/monospace/tex-gyre-cursor/tex-gyre-cursor_bold.otf');
}

.font-tex-gyre-cursor-bold{
	font-family: 'tex-gyre-cursor-bold';
}

@font-face{
	font-family: 'tex-gyre-cursor-italic';
	src: url('/fonts/monospace/tex-gyre-cursor/tex-gyre-cursor_italic.otf');
}

.font-tex-gyre-cursor-italic{
	font-family: 'tex-gyre-cursor-italic';
}

@font-face{
	font-family: 'ubuntu-mono';
	src: url('/fonts/monospace/ubuntu-mono/ubuntu-mono.ttf');
}

.font-ubuntu-mono{
	font-family: 'ubuntu-mono';
}

@font-face{
	font-family: 'ubuntu-mono-bold-italic';
	src: url('/fonts/monospace/ubuntu-mono/ubuntu-mono_bold-italic.ttf');
}

.font-ubuntu-mono-bold-italic{
	font-family: 'ubuntu-mono-bold-italic';
}

@font-face{
	font-family: 'ubuntu-mono-bold';
	src: url('/fonts/monospace/ubuntu-mono/ubuntu-mono_bold.ttf');
}

.font-ubuntu-mono-bold{
	font-family: 'ubuntu-mono-bold';
}

@font-face{
	font-family: 'ubuntu-mono-italic';
	src: url('/fonts/monospace/ubuntu-mono/ubuntu-mono_italic.ttf');
}

.font-ubuntu-mono-italic{
	font-family: 'ubuntu-mono-italic';
}

@font-face{
	font-family: 'veramono';
	src: url('/fonts/monospace/veramono/veramono.ttf');
}

.font-veramono{
	font-family: 'veramono';
}

@font-face{
	font-family: 'veramono-bold-italic';
	src: url('/fonts/monospace/veramono/veramono_bold-italic.ttf');
}

.font-veramono-bold-italic{
	font-family: 'veramono-bold-italic';
}

@font-face{
	font-family: 'veramono-bold';
	src: url('/fonts/monospace/veramono/veramono_bold.ttf');
}

.font-veramono-bold{
	font-family: 'veramono-bold';
}

@font-face{
	font-family: 'veramono-italic';
	src: url('/fonts/monospace/veramono/veramono_italic.ttf');
}

.font-veramono-italic{
	font-family: 'veramono-italic';
}

