/* MY STYLES */

#text {
	font-size: 64px;
	text-align: center;
	width: 100%;
	border: none;
}

textarea:focus {
	border: none;
	outline: none !important;
}

#all-list, #sans-serif-list, #handwriting-list, #display-list, #script-list, #monospace-list {
	display: none;
}

#font-type-btn {
	text-align: center;
}

.btn-custom, .btn-custom:visited{
	border-radius: 0;
	background: #f5f5f5;
	color: #f05a28;
}

.btn-custom:hover{
	color:#f05a28;
	background: #f1f1f1;
}

.btn-custom:active {
	background: #f5f5f5;
	box-shadow: none;
}

.btn-custom:focus{
	outline: none;
	background: #f1f1f1;
	color: #f05a28;
}


.btn-download{
	border-radius: 0;
	background: #fff;
	border-color: #f05a28;
	color: #f05a28;
}

.btn-download:hover{
	border-radius: 0;
	background: #f05a28;
	color: #ffffff;
	border-color: #f05a28;
}

.btn-header{
	font-weight: 200;
	color: #aaa;
	font-size: 20px;
}

.no-padding {
	padding-right: 0;
	padding-left: 0;
}

.no-padding-left {
	padding-left: 0;
}

.no-padding-right {
	padding-right: 0;
}


/*BOOTSTRAP OVERRIDES*/
.btn-group {
	width: 100%;
}

.btn-group > .btn{
	width: 100%;
}

.dropdown-toggle{
	border-radius: 0;
	border-left:none;
	border-right: none;
	margin-bottom: 30px;
}

.open > .dropdown-toggle.btn-default, .open > .dropdown-toggle.btn-default:hover, .open > .dropdown-toggle.btn-default:focus{
	background: #ffffff;
	box-shadow: none;
	font-weight: bold;
}

.dropdown-toggle:hover, .dropdown-toggle:focus{
	background: white;
}

.no-font-styles {
	color: #ccc;
	cursor: auto;
}

.no-font-styles:visited, .no-font-styles:hover, .no-font-styles:active{
	color:#ccc;
	cursor: auto;
}

.btn-default:focus {
	background: white;
}

.dropdown-menu {
	overflow: scroll;
	max-height: 200px;
	top:0;
	left: 100%;
}

