/****** MY STYLES ******/

#text {
	text-align: center;
	width: 100%;
}

textarea:focus {
	border: none;
	outline: none !important;
}

#all-list, #sans-serif-list, #handwriting-list, #display-list, #script-list, #monospace-list {
	display: none;
}

#all-list-select, #sans-serif-list-select, #handwriting-list-select, #display-list-select, #script-list-select, #monospace-list-select {
	display: none;
}

/* ARROW PREV NEXT BUTTONS*/
.btn-custom, .btn-custom:visited{
	border-radius: 0;
	background: #f5f5f5;
	color: #f05a28;
}

.btn-custom:hover{
	color:#f05a28;
	background: #f1f1f1;
}

.btn-custom:active {
	background: #f5f5f5;
	box-shadow: none;
}

.btn-custom:focus{
	outline: none;
	background: #f1f1f1;
	color: #f05a28;
}

.btn-download{
	border-radius: 0;
	background: #fff;
	border-color: #f05a28;
	color: #f05a28;
	margin-bottom: 30px;
}

.btn-download:hover{
	border-radius: 0;
	background: #f05a28;
	color: #ffffff;
	border-color: #f05a28;
}

/*BORDER AROUND ARROW IMAGE*/
.border-around {
	padding: 20px 10px;
	border:1px solid #ccc;
}

/*REMOVE COL PADDING*/
.no-padding {
	padding-right: 0;
	padding-left: 0;
}

.no-padding-left {
	padding-left: 0;
}

.no-padding-right {
	padding-right: 0;
}



/*******BOOTSTRAP OVERRIDES******/

/*make dropdown btns full width*/
.btn-group {
	width: 100%;
}

.btn-group > .btn{
	width: 100%;
}

.dropdown-toggle{
	border-radius: 0;
	border-left:none;
	border-right: none;
	margin-bottom: 30px;
	overflow: hidden;
}

/*change bg of dropdwon btn when it is pressed*/
.open > .dropdown-toggle.btn-default, .open > .dropdown-toggle.btn-default:hover, .open > .dropdown-toggle.btn-default:focus{
	background: #ffffff;
	box-shadow: none;
	font-weight: bold;
}

.dropdown-toggle:hover, .dropdown-toggle:focus{
	background: white;
}

/*add muted style to font styles btn if it has only one style*/
.no-font-styles {
	color: #ccc;
	cursor: auto;
}

.no-font-styles:visited, .no-font-styles:hover, .no-font-styles:active{
	color:#ccc;
	cursor: auto;
}

.btn-default:focus {
	background: white;
}

.dropdown-menu {
	overflow: scroll;
	max-height: 200px;
	top:0;
	left: 100%;
}

.form-control {
	outline: none;
}

/********* MEDIA QUERIES ******/

@media(min-width: 768px){
	/*makes columns of same height and stretch to fill parent container*/
	.row, .text-div, #text {
	  	display: -webkit-box;
	  	display: -webkit-flex;
	  	display: -ms-flexbox;
	  	display:         flex;
	}

	#text {
		font-size: 64px;
		border: 1px solid #f1f1f1;
		padding: 20px;
		box-shadow: 0 0 5px #e5e5e5;
	}
}

@media(max-width: 768px){
	#text{
		font-size: 36px;
		border: 1px solid #ccc;
	}

	select{
		margin-bottom: 15px;
		border-radius: 0;
	}

	.fixed-to-bottom{
		position: fixed;
		bottom: 0;
		width: 100%;
	}

	.btn-mobile, .btn-mobile:hover {
		width: 100%;
		border-radius: 0;
		line-height:2em;
		background: #f05a28;
		color: #ffffff;
		border-color: #ffffff;
	}

	.btn-mobile:active, .btn-mobile:focus{
		border-color: #ffffff;
		background: #d85124;
		color: #ffffff;
		outline: none;
	}
}

