/* MY STYLES */

#text {
	font-size: 64px;
	text-align: center;
	width: 100%;
	border: none;
}

#sans-serif-list {
	display: none;
}

#font-type-btn {
	text-align: center;
}

/*BOOTSTRAP OVERRIDES*/

.dropdown-menu {

}