<head>
  <title>Font Fling</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67448502-1', 'auto');
  ga('send', 'pageview');

</script>
</head>

<template name="main">
  <div class="container-fluid">
    <div class="row">
      {{>topbar}}
    </div>
    <div class="row">
      <div class="col-sm-3">
        {{>sidebar}}
      </div>

      <div class="col-sm-9 work-area text-div">
        {{>yield}}
      </div>
    </div>
    {{>mobileButtons}}
  </div> 
  <div class="row hidden-xs">
  	<div class="col-xs-12">
  		{{>footer}}
  	</div>
  </div>
  {{>aboutModal}}
  {{>feedbackModal}}
  
</template>

<template name="topbar">
  <div class="col-xs-12 col-sm-4 hidden-xs">
    <h1><a href="{{pathFor 'text'}}"><img src="/images/logo.png" alt="Font Fling" class="img-responsive" width="200"></a></h1>
  </div>
  <div class="col-sm-8 hidden-xs">
    <ul class="list-inline text-right">
      <li><a href="{{pathFor route='text'}}" class="top-bar-link view-as-single">View as Single</a></li>
      <li><a href="{{pathFor route='list'}}" class="top-bar-link view-as-list">View as List</a></li>
      <li><a href="#" class="top-bar-link" data-toggle="modal" data-target="#aboutModal">about</a></li>
      <li><a href="#" class="top-bar-link" data-toggle="modal" data-target="#feedbackModal">feedback</a></li>
    </ul>
  </div>

  <div class="col-xs-12 visible-xs-block">
  <h1><img src="/images/logo.png" alt="Font Fling" class="center-block img-responsive" width="150"></h1>
  </div>
</template>

<template name="list">
	<div class="row block-div">
		{{#each fonts}}
		<div class="col-sm-6">
			<textarea class="list-input {{this.class}}" placeholder="Your Text"></textarea>
        </div>
      	{{/each}}
	</div>
</template>

<template name="mobileButtons">
  <div class="row visible-xs-block fixed-to-bottom">
    <div class="col-xs-6 no-padding">
      <a href="#" class="btn btn-default btn-mobile prev-font-mobile"><span class="glyphicon glyphicon-menu-left"></span> Prev Font</a>
    </div>
    <div class="col-xs-6 no-padding">
      <a href="#" class="btn btn-default btn-mobile next-font-mobile">Next Font <span class="glyphicon glyphicon-menu-right"></span></a>
    </div>
  </div>
</template>

<template name="aboutModal">
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close text-center" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">About</h4>
      </div>
      <div class="modal-body">
      <br>
        <p>When I'm deciding on a font for one of my projects, this is how my process looks. Open up illustrator, write out some text and tab through the list of fonts till I find something that looks good.</p>
        <br>
        <p>But finding new fonts online and trying them is hard! So I made fontfling - to bring that same feeling of Illustrator to the web. Use the arrow keys to switch between hundreds of free fonts (thanks FontSquirrel!) and simply download the ones you love. I've also added something that Illustrator is missing - choosing fonts by classification.</p>
        <br>
        <p>If you have feedback or want to say hi drop me a line at <a href="mailto:fontfling@gmail.com" class="about-link">fontfling@gmail.com</a></p>
        <br>
        <p>Hopefully fontfling makes finding great new fonts for your projects easier. Now go find your font &lt;3</p>
      </div>
    </div>
  </div>
</div>
</template>

<template name="feedbackModal">
<div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close text-center" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Feedback</h4>
      </div>
      <div class="modal-body">
      <br>
        <p>I'd love to hear from you so if you have any feedback or just want to say hi drop me a line at <a href="mailto:fontfling@gmail.com" class="about-link">fontfling@gmail.com</a></p>
        <br>
        <p>Go find your font &lt;3</p>
      </div>
    </div>
  </div>
</div>
</template>

<template name="sidebar">
  <div class="row">
    <div class="col-sm-12">
      {{>fontClassificationList}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      {{>fontLists}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      {{>fontStyleList}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">

      {{>fontSize}}
    </div>
  </div>
  <div class="row hidden-xs">
    <div class="col-sm-12">

      {{>downloadFont}}
    </div>
  </div>
  <div class="row hidden-xs">
    <div class="col-sm-12">
      <div class="border-around">
      <img src="/images/arrows.png" class="img-responsive center-block" width="200">
      </div>
    </div>
  </div>
  
</template>

<template name="fontLists">
  <div class="row">
    {{>prevFont}}
    <div class="col-xs-12 col-sm-6 col-md-8 hidden-xs no-padding">
      
      {{>serifList}}
      {{>sansSerifList}}
      {{>handwritingList}}
      {{>displayList}}
      {{>scriptList}}
      {{>monospaceList}}
      {{>blackletterList}}
      {{>calligraphicList}}
      {{>typewriterList}}
      {{>slabSerifList}}
      {{>allList}}

    </div>

    <div class="col-xs-12 visible-xs-block">
      {{>allListSelect}}
      {{>serifListSelect}}
      {{>sansSerifListSelect}}
      {{>handwritingListSelect}}
      {{>displayListSelect}}
      {{>scriptListSelect}}
      {{>monospaceListSelect}}
      {{>blackletterListSelect}}
      {{>calligraphicListSelect}}
      {{>typewriterListSelect}}
      {{>slabSerifListSelect}}
    </div>
    {{>nextFont}}
  </div>
</template>

<template name="text">
  <textarea id="text" placeholder="Enter Text Here"></textarea>
</template>

<template name="fontClassificationList">

  <div class="row hidden-xs">
    <div class="col-sm-3 col-md-2 no-padding-right">
      <a href="#" class="btn btn-default btn-block prev-font-class btn-custom"><span class="glyphicon glyphicon-menu-left"></span></a>
    </div>

    <div class="col-sm-6 col-md-8 no-padding">
      <div class="btn-group">
        <button id="font-type-btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         {{capitalize firstType}}
        </button>
        <ul class="dropdown-menu">
          {{#each fontTypes}}
            <li><a class="font-class-type {{this}}" data-font-class-type="{{this}}" href="#">{{capitalize this}}</a></li>
          {{/each}}
        </ul>
      </div>
    </div>

    <div class="col-sm-3 col-md-2 no-padding-left">
      <a href="#" class="btn btn-default btn-block next-font-class btn-custom"><span class="glyphicon glyphicon-menu-right"></span></a>
    </div>
  </div>

  <div class="row visible-xs-block">
    <div class="col-xs-12">
      <select id="mobile-font-class-list" class="form-control">
        {{#each fontTypes}}
          <option class="font-class-type" data-font-class-type="{{this}}">{{capitalize this}}</option>
        {{/each}}
      </select>
    </div>
  </div>
  
</template>

<template name="allList">
  	<div id="{{name}}-list" class="btn-group font-lists">
	    <button id="{{name}}-list-btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	     {{capitalize firstFont}}
	    </button>
	    <ul id='ul-{{parent.name}}s' class="dropdown-menu">
	      {{#each fonts}}
	        <li><a class="font-type {{this.class}}" data-font-class="{{this.class}}" href="#">{{capitalize this.name}}</a></li>
	      {{/each}}
	    </ul>
  	</div>
</template>

<template name="allListSelect">
  <select id="{{name}}-list-select" class="form-control font-lists">
    {{#each fonts}}
      <option class="font-class-type" data-font-class="{{this.class}}">{{capitalize this.name}}</option>
    {{/each}}
  </select>
</template>

<template name="serifList">
  	<div id="{{name}}-list" class="btn-group font-lists">
	    <button id="{{name}}-list-btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	     {{capitalize firstFont}}
	    </button>
	    <ul id='ul-{{parent.name}}s' class="dropdown-menu">
	      {{#each fonts}}
	        <li><a class="font-type {{this.class}}" data-font-class="{{this.class}}" href="#">{{capitalize this.name}}</a></li>
	      {{/each}}
	    </ul>
  	</div>
</template>

<template name="serifListSelect">
  <select id="{{name}}-list-select" class="form-control font-lists">
    {{#each fonts}}
      <option class="font-class-type" data-font-class="{{this.class}}">{{capitalize this.name}}</option>
    {{/each}}
  </select>
</template>

<template name="sansSerifList">
  	<div id="{{name}}-list" class="btn-group font-lists">
	    <button id="{{name}}-list-btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	     {{capitalize firstFont}}
	    </button>
	    <ul id='ul-{{parent.name}}s' class="dropdown-menu">
	      {{#each fonts}}
	        <li><a class="font-type {{this.class}}" data-font-class="{{this.class}}" href="#">{{capitalize this.name}}</a></li>
	      {{/each}}
	    </ul>
  	</div>
</template>

<template name="sansSerifListSelect">
  <select id="{{name}}-list-select" class="form-control font-lists">
    {{#each fonts}}
      <option class="font-class-type" data-font-class="{{this.class}}">{{capitalize this.name}}</option>
    {{/each}}
  </select>
</template>

<template name="handwritingList">
  	<div id="{{name}}-list" class="btn-group font-lists">
	    <button id="{{name}}-list-btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	     {{capitalize firstFont}}
	    </button>
	    <ul id='ul-{{parent.name}}s' class="dropdown-menu">
	      {{#each fonts}}
	        <li><a class="font-type {{this.class}}" data-font-class="{{this.class}}" href="#">{{capitalize this.name}}</a></li>
	      {{/each}}
	    </ul>
  	</div>
</template>

<template name="handwritingListSelect">
  <select id="{{name}}-list-select" class="form-control font-lists">
    {{#each fonts}}
      <option class="font-class-type" data-font-class="{{this.class}}">{{capitalize this.name}}</option>
    {{/each}}
  </select>
</template>

<template name="scriptList">
  	<div id="{{name}}-list" class="btn-group font-lists">
	    <button id="{{name}}-list-btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	     {{capitalize firstFont}}
	    </button>
	    <ul id='ul-{{parent.name}}s' class="dropdown-menu">
	      {{#each fonts}}
	        <li><a class="font-type {{this.class}}" data-font-class="{{this.class}}" href="#">{{capitalize this.name}}</a></li>
	      {{/each}}
	    </ul>
  	</div>
</template>

<template name="scriptListSelect">
  <select id="{{name}}-list-select" class="form-control font-lists">
    {{#each fonts}}
      <option class="font-class-type" data-font-class="{{this.class}}">{{capitalize this.name}}</option>
    {{/each}}
  </select>
</template>

<template name="displayList">
  	<div id="{{name}}-list" class="btn-group font-lists">
	    <button id="{{name}}-list-btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	     {{capitalize firstFont}}
	    </button>
	    <ul id='ul-{{parent.name}}s' class="dropdown-menu">
	      {{#each fonts}}
	        <li><a class="font-type {{this.class}}" data-font-class="{{this.class}}" href="#">{{capitalize this.name}}</a></li>
	      {{/each}}
	    </ul>
  	</div>
</template>

<template name="displayListSelect">
  <select id="{{name}}-list-select" class="form-control font-lists">
    {{#each fonts}}
      <option class="font-class-type" data-font-class="{{this.class}}">{{capitalize this.name}}</option>
    {{/each}}
  </select>
</template>

<template name="monospaceList">
  	<div id="{{name}}-list" class="btn-group font-lists">
	    <button id="{{name}}-list-btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	     {{capitalize firstFont}}
	    </button>
	    <ul id='ul-{{parent.name}}s' class="dropdown-menu">
	      {{#each fonts}}
	        <li><a class="font-type {{this.class}}" data-font-class="{{this.class}}" href="#">{{capitalize this.name}}</a></li>
	      {{/each}}
	    </ul>
  	</div>
</template>

<template name="monospaceListSelect">
  <select id="{{name}}-list-select" class="form-control font-lists">
    {{#each fonts}}
      <option class="font-class-type" data-font-class="{{this.class}}">{{capitalize this.name}}</option>
    {{/each}}
  </select>
</template>

<template name="blackletterList">
  	<div id="{{name}}-list" class="btn-group font-lists">
	    <button id="{{name}}-list-btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	     {{capitalize firstFont}}
	    </button>
	    <ul id='ul-{{parent.name}}s' class="dropdown-menu">
	      {{#each fonts}}
	        <li><a class="font-type {{this.class}}" data-font-class="{{this.class}}" href="#">{{capitalize this.name}}</a></li>
	      {{/each}}
	    </ul>
  	</div>
</template>

<template name="blackletterListSelect">
  <select id="{{name}}-list-select" class="form-control font-lists">
    {{#each fonts}}
      <option class="font-class-type" data-font-class="{{this.class}}">{{capitalize this.name}}</option>
    {{/each}}
  </select>
</template>

<template name="calligraphicList">
  	<div id="{{name}}-list" class="btn-group font-lists">
	    <button id="{{name}}-list-btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	     {{capitalize firstFont}}
	    </button>
	    <ul id='ul-{{parent.name}}s' class="dropdown-menu">
	      {{#each fonts}}
	        <li><a class="font-type {{this.class}}" data-font-class="{{this.class}}" href="#">{{capitalize this.name}}</a></li>
	      {{/each}}
	    </ul>
  	</div>
</template>

<template name="calligraphicListSelect">
  <select id="{{name}}-list-select" class="form-control font-lists">
    {{#each fonts}}
      <option class="font-class-type" data-font-class="{{this.class}}">{{capitalize this.name}}</option>
    {{/each}}
  </select>
</template>

<template name="typewriterList">
  	<div id="{{name}}-list" class="btn-group font-lists">
	    <button id="{{name}}-list-btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	     {{capitalize firstFont}}
	    </button>
	    <ul id='ul-{{parent.name}}s' class="dropdown-menu">
	      {{#each fonts}}
	        <li><a class="font-type {{this.class}}" data-font-class="{{this.class}}" href="#">{{capitalize this.name}}</a></li>
	      {{/each}}
	    </ul>
  	</div>
</template>

<template name="typewriterListSelect">
  <select id="{{name}}-list-select" class="form-control font-lists">
    {{#each fonts}}
      <option class="font-class-type" data-font-class="{{this.class}}">{{capitalize this.name}}</option>
    {{/each}}
  </select>
</template>

<template name="slabSerifList">
  	<div id="{{name}}-list" class="btn-group font-lists">
	    <button id="{{name}}-list-btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	     {{capitalize firstFont}}
	    </button>
	    <ul id='ul-{{parent.name}}s' class="dropdown-menu">
	      {{#each fonts}}
	        <li><a class="font-type {{this.class}}" data-font-class="{{this.class}}" href="#">{{capitalize this.name}}</a></li>
	      {{/each}}
	    </ul>
  	</div>
</template>

<template name="slabSerifListSelect">
  <select id="{{name}}-list-select" class="form-control font-lists">
    {{#each fonts}}
      <option class="font-class-type" data-font-class="{{this.class}}">{{capitalize this.name}}</option>
    {{/each}}
  </select>
</template>

<template name="fontBtn">
	<div id="{{name}}-list" class="btn-group font-lists">
	    <button id="{{name}}-list-btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	     {{capitalize firstFont}}
	    </button>
	    <ul id='ul-{{parent.name}}s' class="dropdown-menu">
	      {{#each fonts}}
	        <li><a class="font-type {{this.class}}" data-font-class="{{this.class}}" href="#">{{capitalize this.name}}</a></li>
	      {{/each}}
	    </ul>
  	</div>
</template>

<template name="fontStyleList">
  <div class="row hidden-xs">
    <div class="col-sm-3 col-md-2 no-padding-right">
      <a href="#" class="btn btn-default btn-block prev-font-style btn-custom"><span class="glyphicon glyphicon-menu-left"></span></a>
    </div>

    <div class="col-sm-6 col-md-8 no-padding">
      <div id="font-style-list" class="btn-group">
        <button id="font-style-btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         {{capitalize firstStyle}}
        </button>
        <ul id='ul-font-style' class="dropdown-menu">
        {{#each fontStyles}}
          <li><a class="font-style {{this}}" data-font-style="{{this}}" href="#">{{capitalize this}}</a></li>
        {{/each}}
        </ul>
      </div>
    </div>

    <div class="col-sm-3 col-md-2 no-padding-left">
      <a href="#" class="btn btn-default btn-block next-font-style btn-custom"><span class="glyphicon glyphicon-menu-right"></span></a>
    </div>

  </div>
</template>



<template name="fontSize">
  <div class="row hidden-xs">
    <div class="col-sm-3 col-md-2 no-padding-right">
      <a href="#" class="btn btn-default btn-block decrease-font-size btn-custom"><span class="glyphicon glyphicon-menu-left"></span></a>
    </div>
    <div class="col-sm-6 col-md-8 no-padding">
      <div id="font-size-list" class="btn-group">
        <button id="font-size-list-btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          64 px
          </button>
          <ul id='ul-font-size' class="dropdown-menu">
            {{#each sizes}}
              <li><a class="font-size" href="#">{{this}}</a></li>
            {{/each}}
          </ul>
      </div>
    </div>
    <div class="col-sm-3 col-md-2 no-padding-left">
      <a href="#" class="btn btn-default btn-block increase-font-size btn-custom"><span class="glyphicon glyphicon-menu-right"></span></a>
    </div>
  </div>
	
</template>

<template name="prevFont">
  <div class="col-sm-3 col-md-2 no-padding-right hidden-xs">
    <a href="#" class="btn btn-default btn-block prev-font btn-custom"><span class="glyphicon glyphicon-menu-left"></span></a>
  </div>
</template>

<template name="nextFont">
  <div class="col-sm-3 col-md-2 no-padding-left hidden-xs">
    <a href="#" class="btn btn-default btn-block next-font btn-custom"><span class="glyphicon glyphicon-menu-right"></span></a>
  </div>
</template>

<template name="downloadFont">
  <a href="{{link}}" class="btn btn-default btn-block btn-download" target="blank">Download Font</a>
</template>

<template name="footer">
<br><br>
 <p class="small text-center block-center muted">Built by <a href="https://twitter.com/ashekshek" class="twitter_link" target="blank">@ashekshek</a></p>
</template>

<template name="ga">
</template>
