<head>
  <title>Font Fling</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      {{>topbar}}
    </div>
    <div class="row">
      <div class="col-sm-3">
        {{>sidebar}}
      </div>

      <div class="col-sm-9 text-div">
        {{>text}}
      </div>
    </div>
  </div> 
  {{>aboutModal}}
</body>

<template name="topbar">
  <div class="col-xs-12 col-sm-4">
    <h1>Font Fling</h1>
    <p>Find your font</p>
  </div>
  <div class="col-sm-8">
    <ul class="list-inline text-right">
      <li><a href="javascript:void(0);" data-toggle="modal" data-target="#aboutModal">About</a></li>
      <li><a href="mailto:">Feedback</a></li>
    </ul>
  </div>
</template>

<template name="aboutModal">
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>
</template>

<template name="sidebar">
  <div class="row">
    <div class="col-sm-12">
      {{>fontClassificationList}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      {{>fontLists}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      {{>fontStyleList}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">

      {{>fontSize}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">

      {{>downloadFont}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="border-around">
      <img src="/images/arrows.png" class="img-responsive center-block" width="200">
      </div>
    </div>
  </div>
  
</template>

<template name="fontLists">
  <div class="row">
    {{>prevFont}}
    <div class="col-sm-6 col-md-8 no-padding">
      {{>allList}}
      {{>serifList}}
      {{>sansSerifList}}
      {{>handwritingList}}
      {{>displayList}}
      {{>scriptList}}
      {{>monospaceList}}
    </div>
    {{>nextFont}}
  </div>
</template>

<template name="text">
  <textarea id="text" placeholder="Enter Text Here"></textarea>
</template>

<template name="fontClassificationList">

  <div class="row hidden-xs">
    <div class="col-sm-3 col-md-2 no-padding-right">
      <a href="#" class="btn btn-default btn-block prev-font-class btn-custom"><span class="glyphicon glyphicon-menu-left"></span></a>
    </div>

    <div class="col-sm-6 col-md-8 no-padding">
      <div class="btn-group">
        <button id="font-type-btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         {{capitalize firstType}}
        </button>
        <ul class="dropdown-menu">
          {{#each fontTypes}}
            <li><a class="font-class-type" data-font-class-type="{{this}}" href="#">{{capitalize this}}</a></li>
          {{/each}}
        </ul>
      </div>
    </div>

    <div class="col-sm-3 col-md-2 no-padding-left">
      <a href="#" class="btn btn-default btn-block next-font-class btn-custom"><span class="glyphicon glyphicon-menu-right"></span></a>
    </div>
  </div>

  <div class="row visible-xs-block">
    <div class="col-xs-12">
      <select id="mobile-font-class-list" class="form-control">
        {{#each fontTypes}}
          <option class="font-class-type" data-font-class-type="{{this}}">{{capitalize this}}</option>
        {{/each}}
      </select>
    </div>
  </div>
  
</template>

<template name="allList">
  <div id="all-list" class="btn-group font-lists">
    <button id="all-list-btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     {{capitalize firstFont}}
    </button>
    <ul id='ul-alls' class="dropdown-menu">
      {{#each alls}}
        <li><a class="font-type" data-font-class="{{this.class}}" href="#">{{capitalize this.name}}</a></li>
      {{/each}}
    </ul>
  </div>
</template>

<template name="serifList">
  <div id="serif-list" class="btn-group font-lists">
  	<button id="serif-list-btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  	 {{capitalize firstFont}}
  	</button>
  	<ul id='ul-serifs' class="dropdown-menu">
  		{{#each serifs}}
  			<li><a class="font-type" data-font-class="{{this.class}}" href="#">{{capitalize this.name}}</a></li>
  		{{/each}}
  	</ul>
  </div>
</template>

<template name="sansSerifList">
  <div id="sans-serif-list" class="btn-group font-lists">
  	<button id="sans-serif-list-btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  	 {{capitalize firstFont}}
  	</button>
  	<ul id='ul-sans-serifs' class="dropdown-menu">
  		{{#each sansSerifs}}
  			<li><a class="font-type" data-font-class="{{this.class}}" href="#">{{capitalize this.name}}</a></li>
  		{{/each}}
  	</ul>
  </div>
</template>

<template name="handwritingList">
  <div id="handwriting-list" class="btn-group font-lists">
    <button id="handwriting-list-btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     {{capitalize firstFont}}
    </button>
    <ul id='ul-handwritings' class="dropdown-menu">
      {{#each handwritings}}
        <li><a class="font-type" data-font-class="{{this.class}}" href="#">{{capitalize this.name}}</a></li>
      {{/each}}
    </ul>
  </div>
</template>

<template name="scriptList">
  <div id="script-list" class="btn-group font-lists">
    <button id="script-list-btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     {{capitalize firstFont}}
    </button>
    <ul id='ul-scripts' class="dropdown-menu">
      {{#each scripts}}
        <li><a class="font-type" data-font-class="{{this.class}}" href="#">{{capitalize this.name}}</a></li>
      {{/each}}
    </ul>
  </div>
</template>

<template name="displayList">
  <div id="display-list" class="btn-group font-lists">
    <button id="display-list-btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     {{capitalize firstFont}}
    </button>
    <ul id='ul-displays' class="dropdown-menu">
      {{#each displays}}
        <li><a class="font-type" data-font-class="{{this.class}}" href="#">{{capitalize this.name}}</a></li>
      {{/each}}
    </ul>
  </div>
</template>

<template name="monospaceList">
  <div id="monospace-list" class="btn-group font-lists">
    <button id="monospace-list-btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     {{capitalize firstFont}}
    </button>
    <ul id='ul-monospaces' class="dropdown-menu">
      {{#each monospaces}}
        <li><a class="font-type" data-font-class="{{this.class}}" href="#">{{capitalize this.name}}</a></li>
      {{/each}}
    </ul>
  </div>
</template>

<template name="fontStyleList">
  <div class="row">
    <div class="col-sm-3 col-md-2 no-padding-right">
      <a href="#" class="btn btn-default btn-block prev-font-style btn-custom"><span class="glyphicon glyphicon-menu-left"></span></a>
    </div>

    <div class="col-sm-6 col-md-8 no-padding">
      <div id="font-style-list" class="btn-group">
        <button id="font-style-btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         {{capitalize firstStyle}}
        </button>
        <ul id='ul-font-style' class="dropdown-menu">
        {{#each fontStyles}}
          <li><a class="font-style" data-font-style="{{this}}" href="#">{{capitalize this}}</a></li>
        {{/each}}
        </ul>
      </div>
    </div>

    <div class="col-sm-3 col-md-2 no-padding-left">
      <a href="#" class="btn btn-default btn-block next-font-style btn-custom"><span class="glyphicon glyphicon-menu-right"></span></a>
    </div>

  </div>
</template>



<template name="fontSize">
  <div class="row">
    <div class="col-sm-3 col-md-2 no-padding-right">
      <a href="#" class="btn btn-default btn-block decrease-font-size btn-custom"><span class="glyphicon glyphicon-menu-left"></span></a>
    </div>
    <div class="col-sm-6 col-md-8 no-padding">
      <div id="font-size-list" class="btn-group">
        <button id="font-size-list-btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          64 px
          </button>
          <ul id='ul-font-size' class="dropdown-menu">
            {{#each sizes}}
              <li><a class="font-size" href="#">{{this}}</a></li>
            {{/each}}
          </ul>
      </div>
    </div>
    <div class="col-sm-3 col-md-2 no-padding-left">
      <a href="#" class="btn btn-default btn-block increase-font-size btn-custom"><span class="glyphicon glyphicon-menu-right"></span></a>
    </div>
  </div>
	
</template>

<template name="prevFont">
  <div class="col-sm-3 col-md-2 no-padding-right">
    <a href="#" class="btn btn-default btn-block prev-font btn-custom"><span class="glyphicon glyphicon-menu-left"></span></a>
  </div>
</template>

<template name="nextFont">
  <div class="col-sm-3 col-md-2 no-padding-left">
    <a href="#" class="btn btn-default btn-block next-font btn-custom"><span class="glyphicon glyphicon-menu-right"></span></a>
  </div>
</template>

<template name="downloadFont">
  <a href="{{link}}" class="btn btn-default btn-block btn-download" target="blank">Download Font</a>
</template>

