<head>
  <title>Font Fling</title>
</head>

<body>
  <div class="container-fluid">
    
    <div class="row">
      <div class="col-sm-3">
        <div class="row">
          <h1>Font Fling</h1>
        </div>
        {{>sidebar}}
      </div>

      <div class="col-sm-9">
        {{>text}}
      </div>
    </div>
  </div>
  
</body>

<template name="font">
  <a href="#" class="increase-font-size">+</a>
  <a href="#" class="decrease-font-size">-</a>
  {{>fontClassificationList}}
  {{>allList}}
  {{>serifList}}
  {{>sansSerifList}}
  {{>handwritingList}}
  {{>displayList}}
  {{>scriptList}}
  {{>monospaceList}}
  {{>fontStyleList}}
  {{>fontSize}}
  {{>downloadFont}}
  <br><br>

  <textarea id="text" placeholder="Your Text Here"></textarea>
  
</template>

<template name="sidebar">
  <div class="row">
    <div class="col-sm-12">
      {{>fontClassificationList}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      {{>fontLists}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      {{>fontStyleList}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      {{>fontSize}}
      <a href="#" class="increase-font-size">+</a>
      <a href="#" class="decrease-font-size">-</a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      {{>downloadFont}}
    </div>
  </div>
  
</template>

<template name="fontLists">
  <div class="row">
    {{>prevFont}}
    <div class="col-sm-6 col-md-8 no-padding">
      {{>allList}}
      {{>serifList}}
      {{>sansSerifList}}
      {{>handwritingList}}
      {{>displayList}}
      {{>scriptList}}
      {{>monospaceList}}
    </div>
    {{>nextFont}}
  </div>
</template>

<template name="text">
  <textarea id="text" placeholder="Your Text Here"></textarea>
</template>

<template name="fontClassificationList">
  <div class="row">
    <div class="col-sm-3 col-md-2 no-padding-right">
      <a href="#" class="btn btn-default btn-block"><span class="glyphicon glyphicon-menu-left"></span></a>
    </div>

    <div class="col-sm-6 col-md-8 no-padding">
      <div class="btn-group">
        <button id="font-type-btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         {{capitalize firstType}}
        </button>
        <ul class="dropdown-menu">
          {{#each fontTypes}}
            <li><a class="font-class-type" data-font-class-type="{{this}}" href="#">{{capitalize this}}</a></li>
          {{/each}}
        </ul>
      </div>
    </div>

    <div class="col-sm-3 col-md-2 no-padding-left">
    <a href="#" class="btn btn-default btn-block"><span class="glyphicon glyphicon-menu-right"></span></a>
    </div>
  </div>
  
</template>

<template name="allList">
  <div id="all-list" class="btn-group font-lists">
    <button id="all-list-btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     {{capitalize firstFont}}
    </button>
    <ul id='ul-alls' class="dropdown-menu">
      {{#each alls}}
        <li><a class="font-type" data-font-class="{{this.class}}" href="#">{{capitalize this.name}}</a></li>
      {{/each}}
    </ul>
  </div>
</template>

<template name="serifList">
  <div id="serif-list" class="btn-group font-lists">
  	<button id="serif-list-btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  	 {{capitalize firstFont}}
  	</button>
  	<ul id='ul-serifs' class="dropdown-menu">
  		{{#each serifs}}
  			<li><a class="font-type" data-font-class="{{this.class}}" href="#">{{capitalize this.name}}</a></li>
  		{{/each}}
  	</ul>
  </div>
</template>

<template name="sansSerifList">
  <div id="sans-serif-list" class="btn-group font-lists">
  	<button id="sans-serif-list-btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  	 {{capitalize firstFont}}
  	</button>
  	<ul id='ul-sans-serifs' class="dropdown-menu">
  		{{#each sansSerifs}}
  			<li><a class="font-type" data-font-class="{{this.class}}" href="#">{{capitalize this.name}}</a></li>
  		{{/each}}
  	</ul>
  </div>
</template>

<template name="handwritingList">
  <div id="handwriting-list" class="btn-group font-lists">
    <button id="handwriting-list-btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     {{capitalize firstFont}}
    </button>
    <ul id='ul-handwritings' class="dropdown-menu">
      {{#each handwritings}}
        <li><a class="font-type" data-font-class="{{this.class}}" href="#">{{capitalize this.name}}</a></li>
      {{/each}}
    </ul>
  </div>
</template>

<template name="scriptList">
  <div id="script-list" class="btn-group font-lists">
    <button id="script-list-btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     {{capitalize firstFont}}
    </button>
    <ul id='ul-scripts' class="dropdown-menu">
      {{#each scripts}}
        <li><a class="font-type" data-font-class="{{this.class}}" href="#">{{capitalize this.name}}</a></li>
      {{/each}}
    </ul>
  </div>
</template>

<template name="displayList">
  <div id="display-list" class="btn-group font-lists">
    <button id="display-list-btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     {{capitalize firstFont}}
    </button>
    <ul id='ul-displays' class="dropdown-menu">
      {{#each displays}}
        <li><a class="font-type" data-font-class="{{this.class}}" href="#">{{capitalize this.name}}</a></li>
      {{/each}}
    </ul>
  </div>
</template>

<template name="monospaceList">
  <div id="monospace-list" class="btn-group font-lists">
    <button id="monospace-list-btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     {{capitalize firstFont}}
    </button>
    <ul id='ul-monospaces' class="dropdown-menu">
      {{#each monospaces}}
        <li><a class="font-type" data-font-class="{{this.class}}" href="#">{{capitalize this.name}}</a></li>
      {{/each}}
    </ul>
  </div>
</template>

<template name="prevFont">
  <div class="col-sm-3 col-md-2 no-padding-right">
    <a href="#" class="btn btn-default btn-block"><span class="glyphicon glyphicon-menu-left"></span></a>
  </div>
</template>

<template name="nextFont">
  <div class="col-sm-3 col-md-2 no-padding-left">
    <a href="#" class="btn btn-default btn-block"><span class="glyphicon glyphicon-menu-right"></span></a>
  </div>
</template>

<template name="fontStyleList">
	<div id="font-style-list" class="btn-group">
	  	<button id="font-style-btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	  	 {{capitalize firstStyle}}
	  	</button>
	  	<ul id='ul-font-style' class="dropdown-menu">
  		{{#each fontStyles}}
  			<li><a class="font-style" data-font-style="{{this}}" href="#">{{capitalize this}}</a></li>
  		{{/each}}
  		</ul>
  	</div>
</template>



<template name="fontSize">
	<div id="font-size-list" class="btn-group">
		<button id="font-size-list-btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  	 	64 px
	  	</button>
	  	<ul id='ul-font-size' class="dropdown-menu">
	  		{{#each sizes}}
	  			<li><a class="font-size" href="#">{{this}}</a></li>
	  		{{/each}}
	  	</ul>
	</div>
</template>

<template name="downloadFont">
  <a href="{{link}}" target="blank">Download Font</a>
</template>

